.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.119);
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px
}